---
layout: no_head
title: "Home"
---
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <p>
  I am currently finishing up my undergraduate degree at Auburn University. 
  After I finish in the spring, I plan to head to graduate school for physics with a focus in 
  condensed matter and computational physics. At Auburn, I have taken a wide range of 
  courses in physics, computer science, and applied mathematics.
  </p><br>
</body>
</html>
{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
